body {
    background-color: #726A95;
    margin: 0px;
}

.top-container{
    width: 100vw;
    height: 100vh;
    background-color: #3C455C;
}

.slogan-area {
    width: 100%;
    height: 100%;
    justify-content: center;

    padding-top: 20rem;

}

.slogan-text{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    opacity: 0;
}

.slogan-title{
    animation-name: slogan-animation;
    animation-duration: 1s;
    animation-duration: leaner;
    animation-direction:alternate;
    animation-fill-mode: forwards;
    margin-right: 10rem;
}

.slogan-name{
    animation-name: slogan-animation;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-duration: leaner;
    animation-direction:alternate;
    animation-fill-mode: forwards;
    margin-left: 10rem;
}

@keyframes slogan-animation {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.filter-list{
    display: flex;
    width: 100%;
    justify-content: center;
}

.filter-list div{
    margin-inline: 5rem;
    background-color: #BAE7AF;
    padding: .4rem;
    border-radius: 0.5rem;
}

.project-list{
    width: 100vw;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}